<h1>Edit Answer<h2>

<%= form_for [@answer] do |f| %>
  <div class="form-group">
    <%= f.label :answer %></br>
    <%= f.text_area :answer %>
  </div>

  <%= f.submit(:class => "btn btn-primary") %>
<% end %>
