<h1><%= @post.name%></h1>
<h4><%= @post.comment %></h4>

<ul id="answer_list">
  <% @post.answers.each do |answer| %>
    <li><%= answer.answer %></li>
  <% end %>
</ul>

<% if current_user %>
  <%= link_to "Add an Answer", new_post_answer_path(@post), id: "new_answer_link", remote: true %>

<% end %>
